[build]
  publish = "dist"
  command = "npm run build"

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"

[[headers]]
  for = "*.js"
  [headers.values]
    Content-Type = "application/javascript; charset=utf-8"

[[headers]]
  for = "*.mjs"
  [headers.values]
    Content-Type = "application/javascript; charset=utf-8"

[[headers]]
  for = "*.wasm"
  [headers.values]
    Content-Type = "application/wasm"

[[headers]]
  for = "*.glb"
  [headers.values]
    Content-Type = "model/gltf-binary"

[[headers]]
  for = "*.gltf"
  [headers.values]
    Content-Type = "model/gltf+json"

[[headers]]
  for = "*.hdr"
  [headers.values]
    Content-Type = "application/octet-stream"

[[headers]]
  for = "*.exr"
  [headers.values]
    Content-Type = "application/octet-stream"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
