:root {
  --color-primary: #2e2e2e;
  --color-secondary: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.primary-button {
  background-color: #2e2e2e;
  color: white;
  padding: 8px 24px;
  transition: all 0.3s ease;
  border: 2px solid #2e2e2e;
  text-align: center;
  cursor: pointer;
}

.primary-button:hover {
  background-color: white;
  color: #2e2e2e;
}

.secondary-button {
  background-color: white;
  color: #2e2e2e;
  padding: 8px 24px;
  transition: all 0.3s ease;
  border: 2px solid #2e2e2e;
  text-align: center;
  cursor: pointer;
}

.secondary-button:hover {
  background-color: #2e2e2e;
  color: white;
}

/* ==== GLOBAL (Chrome/Edge/Safari) ==== */
*::-webkit-scrollbar {
  width: 6px; /* chiều rộng thanh cuộn dọc */
  height: 6px; /* chiều cao thanh cuộn ngang */
}

*::-webkit-scrollbar-track {
  background: #ccc;
  border-radius: 999px;
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #2e2e2e, #2e2e2e);
  border-radius: 999px;
}

*::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #fde047, #facc15);
}

*::-webkit-scrollbar-corner {
  background: transparent;
}
