* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.primary-button {
  background-color: #2e2e2e;
  color: white;
  padding: 12px 0;
  transition: all 0.3s ease;
  border: 2px solid #2e2e2e;
  text-align: center;
  cursor: pointer;
}

.primary-button:hover {
  background-color: white;
  color: #2e2e2e;
}

.secondary-button {
  background-color: white;
  color: #2e2e2e;
  padding: 12px 0;
  transition: all 0.3s ease;
  border: 2px solid #2e2e2e;
  text-align: center;
  cursor: pointer;
}

.secondary-button:hover {
  background-color: #2e2e2e;
  color: white;
}
