$Color-title: #2E2E2E;
$Color-text: #515151;

.Contact{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid #969696;
    padding-top: 56px;

    &__inner{
        display: flex;
        width: 100%;
        flex-direction: column;

        &__left{
            display: flex;
            flex-direction: column;
            width: 100%;

            &__title{
                font-size: 96px;
                margin-bottom: 46px;
                color: $Color-title;
            }
            &__disc{
                font-size: 17px;
                margin-top: 46px;
            }
        }

        &__right{
            display: flex;
            flex-direction: column;
            width: 100%;

            label{
                font-size: 19px;
                margin-top: 24px;
                font-weight: 600;
            }

            input{
                width: 100%;
                background-color: #EDEDED;
                border: 0px;
                border-bottom: 2px #969696 solid;
                padding: 12px;
                margin-top: 12px;
            }

            textarea{
                height: 150px;
                width: 100%;
                background-color: #EDEDED;
                border: 0px;
                border-bottom: 2px #969696 solid;
                padding: 12px;
                margin-top: 12px;
            }

            &__button{
                display: flex;
                align-items: center;
                margin-top: 24px;

                &__inner{
                    background-color: $Color-title;
                    color: white;
                    padding: 4px 16px;
                    border-radius: 100px;
                    cursor: pointer;
                }
            }
        }
    }
}

@media(max-width: 768px){
    .Contact{
        margin-top: 48px;
        margin-top: 0px;
    }
}