$Color-title: #2e2e2e;
$Color-text: #515151;

.ListSpace {
  border-top: 1px solid #969696;
  width: 100%;
  display: flex;
  padding-top: 56px;

  &__inner {
    width: 100%;
    display: flex;
    flex-direction: column;

    &__header {
      display: flex;
      align-items: center;

      &__title {
        font-size: 48px;
        font-weight: 600;
        color: $Color-title;
      }

      &__find {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-left: auto;

        input {
          height: 48px;
          width: 300px;
          padding: 12px 24px;
          border: $Color-text 1px solid;
        }

        &__icon {
          position: absolute;
          right: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      &__button {
        padding: 8px 20px;
        background-color: $Color-title;
        color: white;
        border: 1px solid $Color-title;
        cursor: pointer;
        transition: 0.1s ease-in all;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
        transition: 0.1s ease-in all;

        &:hover {
          background-color: white;
          color: $Color-title;
          border: 1px solid $Color-title;
        }
      }
    }

    &__tab {
      display: flex;
      align-items: center;
      width: 100%;
      border-bottom: 1px solid #969696;
      margin-top: 24px;

      label {
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 12px 32px;
        cursor: pointer;

        &:hover {
          background-color: $Color-title;
          color: white;
        }
      }
    }

    &__content {
      display: flex;
      width: 100%;
      margin-top: 12px;
      flex-direction: column;
      margin-top: 24px;

      .row {
        align-items: stretch;
        .col-md-6 {
          margin-bottom: 24px;
          color: $Color-text;
          text-decoration: none;
        }
      }

      &__box {
        display: flex;
        flex-direction: column;
        width: 100%;
        box-shadow: 5px 5px 15px #888888;
        padding: 24px;
        border: 24px transparent solid;
        transition: all ease-in 0.2s;

        &:hover {
          box-shadow: 10px 10px 15px #888888;
          border: 24px $Color-title solid;
          transition: all ease-in 0.2s;
        }
        &:hover > .ListSpace__inner__content__box__button > a {
          background-color: $Color-title;
          color: white;
          transition: all 0.1s ease-in;
        }

        &__title {
          font-size: 19px;
          font-weight: 600;
          color: $Color-title;
          text-transform: uppercase;
          white-space: nowrap; /* Không cho phép xuống dòng */
          overflow: hidden; /* Ẩn nội dung thừa nếu quá dài */
          text-overflow: ellipsis; /* Thêm dấu "..." nếu nội dung bị cắt */
        }

        &__image {
          background-position: center !important;
          background-size: cover !important;
          width: 100%;
          height: 400px;
          top: 0;
          left: 0;
          background-repeat: no-repeat !important;
          transition: all 0.1s ease-in;
        }

        &__info {
          display: flex;
          font-size: 17px;
          margin: 12px 0px;
          white-space: nowrap; /* Không cho phép xuống dòng */
          overflow: hidden; /* Ẩn nội dung thừa nếu quá dài */
          text-overflow: ellipsis; /* Thêm dấu "..." nếu nội dung bị cắt */

          &__item2 {
            margin-left: 24px;
            font-weight: 600;
          }
        }

        &__button {
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: end;
          margin-top: 12px;

          a {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px 20px;
            border: $Color-title 1px solid;
            text-decoration: none;
            color: $Color-title;
            font-weight: 600;
            transition: all 0.1s ease-in;
          }

          &__icon {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 4px;
          }
        }
      }
    }
  }
}

#khonggiantrungbay {
  display: none;
}
#khonggiansangtao {
  display: none;
}
#khonggiantrungbay:checked
  ~ .ListSpace__inner__tab
  > .ListSpace__inner__tab__item1 {
  background-color: $Color-title;
  color: white;
}
#khonggiansangtao:checked
  ~ .ListSpace__inner__tab
  > .ListSpace__inner__tab__item2 {
  background-color: $Color-title;
  color: white;
}

#row1 {
  display: none;
}

#row2 {
  display: none;
}

#khonggiantrungbay:checked ~ .ListSpace__inner__content > #row1 {
  display: flex;
}

#khonggiansangtao:checked ~ .ListSpace__inner__content > #row2 {
  display: flex;
  justify-content: center;
}

@media (max-width: 1057px) {
  .ListSpace__inner__header__title {
    font-size: 24px;
  }
  .ListSpace__inner__content__box {
    padding: 12px;
    border: 12px solid transparent;

    &:hover {
      border: 12px solid $Color-title;
    }
  }
}
@media (max-width: 768px) {
  .ListSpace__inner__header__title {
    font-size: 19px;
  }

  .ListSpace__inner__header__find {
    input {
      padding: 6px !important;
      font-size: 14px !important;
      height: auto;
      width: auto;
    }
  }
  .ListSpace__inner__header {
    flex-direction: column;
    align-items: start;
  }
  .ListSpace__inner__tab {
    justify-content: space-between;
    label {
      font-size: 14px;
      margin: 0px;
      width: 50%;
    }
  }
  .ListSpace__inner__content__box__title {
    font-size: 16px;
  }
  .ListSpace__inner__content__box__info {
    font-size: 14px;
  }
  .ListSpace__inner__content__box__button__text {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .ListSpace__inner__content__box__image {
    height: 250px;
  }
}
