@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$Color-title: #2e2e2e;
$Color-text: #515151;

.container-main {
  padding: 0px 128px;
  width: 100%;
  display: flex;
}

.active-link {
  font-weight: 600;
}

.Web {
  color: $Color-text;
  font-family: 'Inter', serif;
  position: relative;

  header {
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 14px 0px;
    z-index: 40;
    background-color: white;
    border-bottom: 1px solid $Color-title;
  }

  &__header {
    display: flex;
    width: 100%;

    &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      &__logo {
        font-size: 24px;
        color: $Color-title;
        font-weight: 600;
        text-decoration: none;
      }
      &__menu {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
          text-decoration: none;
          color: #515151;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 4px 16px;

          &:hover {
            font-weight: 600;
          }
        }

        ul {
          display: flex;
          width: 100%;
          font-size: 17px;
          align-items: center;
          height: 100%;
          margin: 0px;
          list-style-type: none;
        }
      }
      &__extend {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__dangnhap {
          font-size: 16px;
          padding: 6px 16px;
          background-color: $Color-title;
          color: white;
          cursor: pointer;
          border: 1px solid $Color-title;
          transition: 0.1s ease-in all;
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            background-color: white;
            color: $Color-title;
            transition: 0.1s ease-in all;
          }
        }
        &__dangky {
          font-size: 16px;
          padding: 6px 16px;
          background-color: white;
          color: $Color-title;
          border: 1px solid $Color-title;
          cursor: pointer;
          transition: 0.1s ease-in all;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 24px;

          &:hover {
            background-color: $Color-title;
            color: white;
            transition: 0.1s ease-in all;
          }
        }
        &__icon {
          color: #2e2e2e;
          font-size: 30px;
        }
      }
    }
    &__hidden {
      display: none;

      &__logo {
        font-size: 24px;
        color: $Color-title;
        font-weight: 600;
        text-decoration: none;
      }
      &__menu {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  &__footer {
    background-color: $Color-title;
    color: white;
    padding: 48px 0px;
    margin-top: 48px;

    &__inner {
      width: 100%;

      .col-md-3 {
        display: flex;
        flex-direction: column;
      }

      &__logo {
        font-size: 48px;
        font-weight: 500;
        margin-bottom: 20px;
      }
      &__contact {
        display: flex;
        align-items: center;
        font-size: 17px;
        font-weight: 300;
        margin-bottom: 12px;

        &__icon {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 15px;
        }
      }
      &__title {
        font-size: 19px;
        margin-bottom: 12px;
        color: white;
        text-decoration: none;

        &:hover {
          font-weight: 600;
        }
      }
      &__text {
        font-size: 17px;
        font-weight: 300;
        margin-bottom: 4px;
        text-decoration: none;
        color: white;

        &:hover {
          font-weight: 600;
        }
      }
      &__icon {
        display: flex;
        font-size: 20px;
        &__inner {
          margin-right: 24px;
        }
      }
    }
  }
}

.modalRegister {
  &__title {
    font-size: 24px;
    color: $Color-title;
    width: 100%;
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    width: 100%;

    &__label {
      font-size: 17px;
      margin-bottom: 12px;
    }
    &__input {
      font-size: 17px;
      margin-bottom: 24px;
      width: 100%;
      background-color: #ededed;
      padding: 12px;
      border: 0px;
    }
    &__button {
      background-color: $Color-title;
      color: white;
      padding: 8px 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid $Color-title;
      transition: all 0.2s ease-in;

      &:hover {
        background-color: white;
        color: $Color-title;
      }
    }
    &__memory {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 24px;

      &__save {
        display: flex;
        align-items: center;
        justify-content: center;

        label {
          margin-left: 12px;
          font-size: 17px;
          color: #969696;

          &:hover {
            color: $Color-title;
          }
        }
      }
      &__forget {
        font-size: 17px;
        cursor: pointer;
        color: #969696;

        &:hover {
          color: $Color-title;
        }
      }
    }
    &__Userforget {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: end;
      color: #969696;
      font-size: 17px;
      margin-bottom: 24px;
    }
    &__Userbutton {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      &__close {
        display: flex;
        align-items: center;
        padding: 4px 16px;
        font-size: 16px;
        border-radius: 100px;
        border: 2px $Color-title solid;
        color: $Color-title;
      }
      button {
        display: flex;
        align-items: center;
        padding: 4px 16px;
        font-size: 16px;
        border-radius: 100px;
        border: 2px $Color-title solid;
        color: white;
        background-color: $Color-title;
      }
    }
  }
  &__oath {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    &__text {
      font-size: 17px;
      color: $Color-title;
    }
    &__logo {
      display: flex;

      &__item {
        margin-left: 24px;
      }
    }
  }
  &__have {
    color: #969696;
    font-size: 17px;
    margin-bottom: 12px;
  }
  &__login {
    color: $Color-title;
    background-color: white;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $Color-title;
    cursor: pointer;
    transition: all 0.2s ease-in;

    &:hover {
      background-color: $Color-title;
      color: white;
    }
  }
}
.nav-item.dropdown {
  position: relative;
  padding: 4px 16px;

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    display: none;
    flex-direction: column;
    min-width: 180px;
    padding: 8px 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 0;
    z-index: 999;

    a {
      padding: 8px 8px;
      display: block;
      color: #515151;
      text-decoration: none;
      font-weight: 300;

      &:hover {
        font-weight: 600;
      }
    }
  }

  // Hiển thị dropdown khi hover
  &:hover {
    font-weight: 600;
  }

  &:hover .dropdown-menu {
    display: flex;
  }
}

.active {
  font-weight: 600 !important;
}
@media (max-width: 1189.98px) {
  .Web__header__inner {
    display: none;
  }
  .Web__header__hidden {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .Web__header__hidden__logo {
    font-size: 17px;
  }
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    max-height: 0;
    transition: max-height 0.35s ease;
  }

  .show-navbar-collapse {
    max-height: 800px;
  }

  .navbar-collapse-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  /* MENU LIST */
  .nav-menu {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .nav-item {
    width: 100%;
    padding: 12px 0px;
    border-bottom: 1px solid #eee;

    .nav-link {
      width: 100%;
      display: flex;
      justify-content: space-between;
      font-size: 18px;
      color: #2e2e2e;
      padding: 0px 20px;

      &:hover {
        font-weight: 600;
      }
    }
  }

  .nav-item.dropdown {
    position: relative;
    padding: 12px 0;
    font-weight: 500;

    .dropdown-menu {
      position: relative;
      flex-direction: column;
      border: 0;
      box-shadow: none;

      a {
        padding: 10px 20px;
        display: block;
        color: #515151;
        text-decoration: none;

        &:hover {
          font-weight: 600;
        }
      }
    }

    .dropdown-menu {
      padding: 0;
      display: flex;
    }
  }

  .Web {
    &__header {
      &__inner {
        &__extend {
          &__dangnhap {
            margin-left: 0px;
          }
          &__dangky {
            margin-left: 0px;
          }
        }
      }
    }
  }
}
@media (max-width: 928.98px) {
  .Web__home__sectionMain__inner__title {
    width: 90%;
  }
  .Web__home__sectionMain {
    height: 80vh;
  }
  .Web__footer__inner__logo {
    font-size: 24px;
    margin-bottom: 24px;
  }
  .Web__footer {
    padding: 24px 0px;
  }
}
@media (max-width: 650.98px) {
  .container-main {
    padding: 0px 40px;
  }
  .Web__home__sectionMain {
    height: 70vh;
  }
  .Web__home__section1__inner__title {
    font-size: 20px;
  }
}
@media (max-width: 450.98px) {
  .container-main {
    padding: 0px 12px;
  }
  .Web__home__sectionMain__inner__title {
    font-size: 40px;
  }
  .Web__home__sectionMain {
    height: 50vh;
  }
}