.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 78px;
  background-color: var(--clr-black);
  z-index: 999;
}
.navbar-brand {
  color: var(--clr-white);
}

.hamburger-menu {
  position: relative;
  width: 34px;
  height: 26px;
  cursor: pointer;
}

.hamburger-menu div {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #2e2e2e;
  transition: all 0.3s ease;
}

/* vị trí ban đầu */
.bar-top {
  top: 0;
}

.bar-middle {
  top: 50%;
  transform: translateY(-50%);
}

.bar-bottom {
  bottom: 0;
}

.bar-top,
.bar-middle,
.bar-bottom {
  height: 3px;
  background-color: #2e2e2e;
  transform-origin: left;
  transition: var(--transition);
}
.hamburger-menu-change .bar-top {
  transform: rotate(42deg);
}
.hamburger-menu-change .bar-middle {
  transform: translateX(-1rem);
  opacity: 0;
}
.hamburger-menu-change .bar-bottom {
  transform: rotate(-42deg);
}
.navbar-collapse {
  position: fixed;
  left: 0;
  top: 0;
  background-color: white;
  height: 100%;
  width: 100%;
  transform: translateX(-100%);
}
.show-navbar-collapse {
  transform: translateX(0);
}
.navbar-nav {
  margin-bottom: 30px;
}
.navbar-nav li {
  margin: 20px 0;
  font-size: 2rem;
  transition: var(--transition);
}
.navbar-nav li:hover {
  color: var(--clr-black);
}
.navbar-nav li a {
  color: #2e2e2e;
  text-decoration: none;
  font-size: 18px;
  padding-bottom: 4px;
}
.navbar-nav li a:hover {
  font-weight: 600;
}
.navbar-social li {
  margin-right: 12px;
  font-size: 2.4rem;
}
.navbar-btns {
  margin-top: 2.4rem;
}
.navbar-btns button {
  border: 2px solid var(--clr-robin-blue);
  transition: var(--transition);
}
.navbar-btns button span {
  margin-left: 8px;
}
.navbar-btns button:hover {
  background-color: var(--clr-robin-blue);
}

.nav-link-parent {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.nav-arrow {
  font-size: 20px;
  transition: transform 0.25s ease;
}
.nav-item.dropdown .dropdown-menu {
  max-height: fit-content;
  transition: max-height 0.3s ease;
  width: 200px;
}
.nav-item.dropdown.open .dropdown-menu {
  max-height: 300px; /* đủ chứa menu */
}
.nav-item.dropdown .nav-arrow {
  transition: transform 0.25s ease;
}

.nav-item.dropdown.open .nav-arrow {
  transform: rotate(180deg);
}

@media screen and (min-width: 578px) {
  .navbar-collapse {
    width: 320px;
  }
}

@media screen and (min-width: 1200px) {
  .navbar-collapse {
    transform: translateX(0);
    position: relative;
    background-color: transparent;
    box-shadow: none;
    top: 0;
    height: auto;
    width: 100%;
  }
  .navbar-collapse-content {
    padding: 0;
    display: flex;
    align-items: center;
  }
  .hamburger-menu {
    display: none;
  }
  .navbar-nav {
    display: flex !important;
    margin-bottom: 0;
  }
  .navbar-btns {
    margin-top: 0;
    margin-left: 28px;
  }
  .navbar-nav li {
    margin: 0;
    font-size: 1.9rem;
    font-weight: 500;
    margin-left: 36px;
  }
  .navbar-nav li:hover {
    color: var(--clr-crazy-blue);
  }
  .navbar-social {
    margin-left: 60px;
  }
  .navbar-social li {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
  }
  .navbar-social li:hover {
    color: var(--clr-crazy-blue);
  }
}
