$Color-title: #2e2e2e;
$Color-text: #515151;

.backModal {
  width: 100%;
  height: 100%;
  background-color: rgb(44, 44, 44);
  position: fixed;
  top: 0px;
  z-index: 50;
  opacity: 0.5;
}

.innerModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 48px;
  z-index: 100;
  animation: slideInWeb 0.8s ease-in-out forwards;
  max-height: 95vh;
  overflow: auto;
  width: 440px;
  max-width: 90vw;

  &--buttonClose {
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
    background-color: $Color-title;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
  }
  &--buttonClose:hover {
    color: rgb(205, 81, 81);
  }
  &--content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .Web__webLine {
    margin: 24px 0px;
  }
}

@keyframes slideInWeb {
  from {
    top: -100%; /* Modal ẩn bên trên màn hình */
    opacity: 0; /* Modal ban đầu không hiển thị */
  }
  to {
    top: 50%; /* Hiển thị modal ở giữa màn hình */
    opacity: 1; /* Hiển thị modal với opacity đầy đủ */
  }
}
